{% extends 'base.html' %}

{% block body %}
<div class="container">
  <p>
    <h1>Welcome!</h1>
    You can login here!
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="button">Login</button>
  </form>
  </p>
</div>
{% endblock %}
