{% extends 'home.html' %}

{% block body %}
<div class="container">
  <p>
    <h1>Reset password</h1>
    If you have forgotten your password, you can give your mail id and we will send you the instructions to reset password
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="button">Reset Password</button>
  </form>
  </p>
</div>
{% endblock %}
